html
  head
    link(rel="stylesheet", href="./css/style.css")
    title HVCG Landingpage
  body
    h1 Mentor: Le Thanh Truong - Developer: Truong Duc Manh
    hr
    block content
    hr
    h1 All right reserved - 2020
